<div class='well'>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <legend>Resend confirmation instructions</legend>
    <div class="field control-group">
      <%= f.label :email, :class => "control-label" %>
      <div closs='controls' style='margin-left:180px;'>
        <%= f.email_field :email %>
      </div>
    </div>
  
    <div class = 'actions form-actions'>
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>