<h1>Listing category_product_links</h1>

<table>
  <tr>
    <th>Productcat</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_product_links.each do |category_product_link| %>
  <tr>
    <td><%= category_product_link.productcat %></td>
    <td><%= category_product_link.product %></td>
    <td><%= link_to 'Show', category_product_link %></td>
    <td><%= link_to 'Edit', edit_category_product_link_path(category_product_link) %></td>
    <td><%= link_to 'Destroy', category_product_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category product link', new_category_product_link_path %>
