<div class='well'>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
  <% devise_error_messages! %>

  <legend>Sign up</legend>
  <div class="field control-group  <%= 'error' if resource.errors[:email].include?("can't be blank") || resource.errors[:email].include?("has already been taken")  %>">
    <%= f.label :email, :class => 'control-label', :for => 'inputError'  %>
    <div class='controls'>
      <%= f.email_field :email, :autocomplete => 'off', :value => nil, :id => 'inputError' %>
      <span class='help-inline'>
        <% if resource.errors[:email].include?("can't be blank") %>
          <%= 'Please enter an Email' %>
        <% elsif resource.errors[:email].include?("has already been taken")%>
          <%= 'Email has already been taken' %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="field control-group  <%= 'error' if resource.errors[:password].include?("is too short (minimum is 6 characters)") || resource.errors[:password].include?("can't be blank") %>">
    <%= f.label :password, :class => 'control-label', :for => 'inputError'  %>
    <div class='controls'>
      <%= f.password_field :password, :autocomplete => 'off', :id => 'inputError' %>
      <span class='help-inline'>
        <% if resource.errors[:password].include?("is too short (minimum is 6 characters)") %>
          <%= 'Your password must be 7 characters'  %>
        <% elsif resource.errors[:password].include?("can't be blank") %>
          <%= 'Please enter a Password' %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="field control-group  <%= 'error' if resource.errors[:password].include?("doesn't match confirmation") %>">
    <%= f.label :password_confirmation, :class => 'control-label', :for => 'inputError'  %>
    <div class='controls'>
      <%= f.password_field :password_confirmation, :id => 'inputError' %>
      <span class='help-inline'><%= 'Please confirm password' if resource.errors[:password].include?("doesn't match confirmation") %></span>
    </div>
  </div>
  <div class='actions form-actions'>
    <%= f.submit "Sign up", :class => 'btn btn-danger' %>
  </div>
  <% end %>
  <%= link_to 'Forgot your Password?', new_user_password_path %>
</div>


