<%= form_for(@recommendation) do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, options_for_select(@users.collect{ |u| [u.email,u.id] }, @recommendation.user ? @recommendation.user.id : "") %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.select :product_id, options_for_select(@products.collect{ |p| [p.name,p.id] }, @recommendation.product ? @recommendation.product.id : "") %>
  </div>
  <div class="field">
    <%= f.label :occassion_id %><br />
    <%= f.select :occassion_id, options_for_select(@occassions.collect{ |p| [p.name,p.id] }, @recommendation.occassion ? @recommendation.occassion.id : "") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>