<h1>Listing recommendations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recs.each do |recommendation| %>
  <tr>
    <td><%= @recs.user_id %></td>
    <td><%= @recs.product_id %></td>
    <td><%= link_to 'Show', recommendation %></td>
    <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recommendations', new_recommendation_path %>