<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      Recipients
    </li>
  </ul>
</div>

<div class='fright' style='margin-bottom:20px;'>
  <%= link_to 'New Recipient', new_recipient_path, :class => 'btn btn-primary'  %>
</div>

<div>
  <table class='table table-bordered table-striped table-condensed'>
    <tr>
      <th>Name</th>
      <th>Age range</th>
      <th>Gender</th>
      <th>Relationship</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>


  <% @recipients.each do |recipient| %>
    <tr>
      <% unless recipient.full_name.blank? %>
        <td><%= link_to recipient.full_name, recipient_path(recipient) %></td>
        <td><%= recipient.age_range %></td>
        <td><%= recipient.gender %></td>
        <td><%= recipient.relationship %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
