<h1>My Dashboard</h1>

<h4>My Occassions:</h4>

<%= link_to 'New Occasion', new_occassion_path, :class => 'btn btn-primary'  %></br></br>
<% if @occassions.count ==0 %>
<p>Please create an occasion</p>
<% else %>
<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th><em>Name</em></th>
    <th><em>Description</em></th>
    <th><em>Date</em></th>
    <th><em>Price Range</em></th>
    <th><em>Gifts to Mine for</em></th>
    <th><em>Recommendations</em></th>
    <th><em>Edit</em></th>
    <th><em>Delete</em></th>
  </tr>

<% @occassions.each do |occassion| %>
  <tr>
    <td><%= occassion.name %></td>
    <td><%= occassion.description %></td>
    <td><%= occassion.date.strftime("%B %d, %Y") %></td>
    <td><%= occassion.price_range %></td>
    <td><%= occassion.type_of_gift %></td>
    <td><%= link_to 'Click Me', occassion_path(occassion) %></td>
    <td><%= link_to 'Edit', edit_occassion_path(occassion) %></td>
    <td><%= link_to 'Delete', occassion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end if @occassions%>
</table>
<% end %>

<h4>Newest Additions:</h4>
<div class='well' style='height:100px'>
	<% @new_products.each do |new_product| %>
	  <div style='float:left;margin-right:10px;'>
	  <%= link_to image_tag(new_product.pic.url(:thumb)), product_path(new_product.id) %></br>
	  </div>
	<% end %>
</div>
	
