<div>
  <div>
    <div class='fleft' style='margin-top:5px;'>
      <h2>My Occasions</h2>
    </div>
    <div class='fright' style='margin:20px 0px 25px 0px;'>
      <%= link_to 'Create an Occasion', new_occassion_path, :class => 'btn btn-primary'  %></br>
    </div>
  </div>

  <div id="calendar">
    <h2 id="month"> <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %> </h2>
    <%= calendar_for(@occassions, :html => {:class => 'table table-bordered'}, :year => @date.year, :month => @date.month) do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
      <%= calendar.day(:day_method => :date) do |date, occassions| %>
        <%= link_to date.day, new_occassion_path(:date => date) %>
        <ul>
          <% occassions.each do |occassion| %>
            <li>
              <%= link_to occassion.name, occassion_path(occassion) %>
            </li>
          <% end %>
      </ul>
      <% end %>
    <% end %>
  </div>
</div> <br/>

<div>
<h4>Newest Additions:</h4></br/>
  <div class='well' style='height:125px'>
    <% @new_products.each do |new_product| %>
      <div style='float:left;margin-right:10px;width:90px;'>
      <p style='text-align:center;'>
        <%= link_to new_product.name, product_path(new_product.id) %>
      </p>
      <%= link_to image_tag(new_product.pic.url(:thumb)), product_path(new_product.id), :class =>'img-polaroid' %></br>
      </div>
    <% end %>
  </div>
</div>
