<div>
  <div>
    <div class='fleft'>
      <h3>My Occasions</h3>
    </div>
    <div class='fright' style='margin:12px 0px 25px 0px;'>
      <%= link_to 'Enter an Occasion', new_occassion_path, :class => 'btn btn-primary'  %></br>
    </div>
  </div>

  <div id="calendar">
    <div class="pagination pagination-centered pagination-large">
      <ul>
        <li><%= link_to raw("&laquo;"), :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %></li>
        <li><%= link_to h(@date.strftime("%B %Y")), :month => @date %></li>
        <li><%= link_to raw("&raquo;"), :month => (@date.end_of_month+1).strftime("%Y-%m-01") %> </li>
      </ul>
    </div>
    <%= calendar_for(@occassions, :html => {:class => 'table table-bordered'}, :year => @date.year, :month => @date.month) do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
    <%= calendar.day(:day_method => :date) do |date, occassions| %>
    <%= link_to date.day, new_occassion_path(:date => date) %>
    <ul>
      <% occassions.each do |occassion| %>
      <li>
        <%= link_to occassion.name, occassion_path(occassion) %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <% end %>
  </div>
</div>
<br/>

<div>
  <h4>Newest Additions:</h4></br/>
  <div class='well' style='height:180px;padding-left:23px;'>
    <% @new_products.each do |new_product| %>
    <div class='thumbnail new_additions'>
      <div class='caption'>
        <%= link_to(truncate(new_product.name, :length =>12), product_path(new_product.id)) %>
      </div>
      <%= link_to image_tag(new_product.pic.url(:small)), product_path(new_product.id) %></br>
    </div>
    <% end %>
  </div>
</div>
