<div class="container" id='background' style='-moz-border-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;'>
  <div class='home'>
    <div class="subhead">
      <h1 style="color:white">giftminer</h1>
      <p class="lead" style='color:pink;'>
        Let us help you find the perfect gift
      </p>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 1</span>
      </p>
      <p>
        Tell us the occasion
      </p>
      <%= image_tag 'notepad.png' %>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 2</span>
      </p>
      <p>
        We'll find the gift
        <br/>
        &nbsp;
      </p>
      <%= image_tag 'Gift_Box.png' %>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 3</span>
      </p>
      <p>
        You enjoy the present!
      </p>
      <%= image_tag 'smile-big.png' %>
    </div>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>"well",:style=>"float:right;background-color: rgba(245,245,245,.5);margin-top:29px"}) do |f| %>
  <h3 style="margin-top:0">Sign up</h3>
  <%= devise_error_messages! %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :autocomplete=>'off' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete=>'off' %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :autocomplete=>'off' %>
  </div>
  <div style="margin-top:10px">
    <%= f.submit "Sign up", :class => 'signupbutton btn btn-primary', :style=>"float:left" %>
    <div class="clear"></div>
  </div>
  <% end %>

  <div style="clear:both"></div>
</div>

<div class="row">
  <div class="span6">
    <blockquote>
      <p>
        Before giftminer, I just picked up whatever I can find at the gas station on the way home.
      </p>
      <small>Morgan Freeman from <cite title="Source Title">Shawshank Prison</cite></small>
    </blockquote>
  </div>
  <div class="span6">
    <blockquote class="pull-right">
      <p>
        My wife is one of those people who has everything. It is very hard to shop for her. Giftminer gives me great suggestions and takes care of the leg work. I am very happy with their service!
      </p>
      <small>Barack Obama at the <cite title="Source Title">White House</cite></small>
    </blockquote>
  </div>
</div>
