<!-- Modal -->
<div class="container" id='background' style='-moz-border-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;'>
  <div class='home'>
    <div class="subhead">
      <h1 style="color:white">giftminer</h1>
      <p class="lead">
        <% if cookies[:gender] == 'female' %>
          Let us help you find the perfect gift
        <% else %>
          No more sleeping on the couch!<br />
          Let us help you automate gifting.
        <% end %>
      </p>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 1</span>
      </p>
      <p>
        Tell us the occasion
      </p>
      <%= image_tag 'notepad.png' %>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 2</span>
      </p>
      <p>
        We'll find the gift
        <br/>
        &nbsp;
      </p>
      <%= image_tag 'Gift_Box.png' %>
    </div>
    <div class="steps well">
      <p>
        <span class="badge">Step 3</span>
      </p>
      <p>
        <% if cookies[:gender] == 'female' %>
          Enjoy the<br />praises!
        <% else %>
          You take the credit!
        <% end %>
      </p>
      <%= image_tag 'smile.png' %>
    </div>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:class=>"well",:style=>"float:right;background-color: rgba(245,245,245,.5);margin-top:29px"}) do |f| %>
  <h3 style="margin-top:0">Sign up for <span style="color:#df382c">FREE!</span></h3>
  <%= devise_error_messages! %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :autocomplete=>'off' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete=>'off' %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :autocomplete=>'off' %>
  </div>
  <div style="margin-top:10px">
    <%= f.submit "Sign up", :class => 'signupbutton btn btn-primary', :style=>"float:left" %>
    <div class="clear"></div>
  </div>
  <% end %>

  <div style="clear:both"></div>
</div>

<div class="row">
  <div class="span6">
    <blockquote>
      <p>
        I LOOOOVEEE shopping. Now there is a way to automatically shop? Sign me up!
      </p>
      <small>Uyen Do from <cite title="Source Title">Shopaholic Anonymous</cite></small>
    </blockquote>
  </div>
  <div class="span6">
    <blockquote class="pull-right">
      <p>
        My wife is one of those people who has everything. It is very hard to shop for her. Giftminer gives me great suggestions and draws money directly from my bank account. Yay!
      </p>
      <small>Vinh Pham in the <cite title="Source Title">Forest Somewhere</cite></small>
    </blockquote>
  </div>
</div>
