<div class="container-fluid well" style="margin-top: 20px">
  <div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="/support"><i class="icon-chevron-right"></i>FAQs</a></li>
          <li class="active"><a href="/support/subscription"><i class="icon-chevron-right"></i>Subscription</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i>Order History</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i>Link</a></li>
        </ul>
    </div><!--/span-->
    <div class="span9">
      <%= form_for(@subscription, :html => { :class => "form-horizontal"}) do |f| %>

      <%= f.hidden_field :stripe_customer_token %>

      <div class="field control-group">
        <%= label_tag :card_number, "Credit Card Number ", :class => 'control-label' %>
        <div class='controls'>
          <%= text_field_tag :card_number, nil, name: nil %>
        </div>
      </div>
      <div class="field control-group">
        <%= label_tag :card_code, "Security Code on Card (CVV)", :class => 'control-label' %>
        <div class='controls'>
          <%= text_field_tag :card_code, nil, name: nil, :autocomplete =>'off' %>
        </div>
      </div>
      <div class="field control-group">
        <%= label_tag :card_month, "Card Expiration", :class => 'control-label' %>
        <div class='controls'>
          <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
        </div>
      </div>

      <div id="stripe_error">
        <noscript>
          JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
        </noscript>
      </div>

      <div class="actions form-actions">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
      </div>
      <% end %>

      </dl>
    </div>
  </div><!--/row-->
</div>