<div class='fleft' style='width:650px;'>
  <%= form_for(@address, :html => { :class => "form-horizontal"}) do |f| %>
    <% if @address.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
  
        <ul>
        <% @address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field control-group">
      <%= f.label :address_line_1, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :address_line_1 %>
      </div>
    </div>
    <div class="field control-group">
      <%= f.label :address_line_2, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :address_line_2 %>
      </div>
    </div>
    <div class="field control-group">
      <%= f.label :city, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :city %>
        </div>
    </div>
    <div class="field control-group">
      <%= f.label :state, :class => 'control-label' %>
      <div class='controls'>
        <%= f.select :state, us_states, :include_blank => "Select State" %>
      </div>
    </div>
    <div class="field control-group">
      <%= f.label :zip_code, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :zip_code %>
      </div>
    </div>
    <%= f.hidden_field :recipient_id, :value => params[:recipient_id] %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :address_type, :value => 'shipping' %>    
    <div class="actions form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<% @recipient.addresses.each do |address| %>
  <% if address.address_type == 'shipping' %>
    <div class='fleft'>
      <p>Shipping Addresses</p>
      <% @recipient.addresses.each do |recipient| %>
        <%= address.address_line_1 %><br/>
        <% unless address.address_line_2.blank? %>
          <%= address.address_line_2 %><br/>
        <% end %>
        <%= address.city %>,&nbsp;<%= address.state %>&nbsp;<%= address.zip_code %><br/>
        <%= link_to 'choose address','#' %><br/><br/>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class='clear'></div>
