<h1>Listing addresses</h1>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Recipient</th>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Address type</th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.recipient.full_name %></td>
    <td><%= address.address_line_1 %></td>
    <td><%= address.address_line_2 %></td>
    <td><%= address.city %></td>
    <td><%= address.state %></td>
    <td><%= address.zip_code %></td>
    <td><%= address.address_type %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
