<%= form_for(@occasion, :html => { :class => "form-horizontal"}) do |f| %>

  <div class="field control-group <%= 'error' if @occasion.errors[:name].any? %>">
    <%= f.label :name, "Occasion Name", :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :name %>
      <span class='help-inline'><%= 'Please enter a Name' if @occasion.errors[:name].any? %></span>
    </div>
  </div>
  
  <div class="field control-group <%= 'error' if @occasion.errors[:recipient_name].any? %>">
      <%= f.label :recipient_name, "Recipient Name", :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :recipient_name, data: {autocomplete_source: recipients_path} %>
    </div>
  </div>
  
  <div class="field control-group  <%= 'error' if @occasion.errors[:description].any? %>">
    <%= f.label :description, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_area :description, :size => "30x5" %>
      <span class='help-inline'><%= 'Please enter a Decription' if @occasion.errors[:description].any? %></span>
    </div>
  </div>
  
  <div class="field control-group  <%= 'error' if @occasion.errors[:date].any? %>">
    <%= f.label :date, :class => 'control-label' %>
    <div class='controls'>
      <div class="input-append">
        <%= f.text_field :date, :value => @occasion.date.to_s, :class => 'datepicker', :style => 'width:180px;' %>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
        <span class='help-inline'><%= 'Please select a Date' if @occasion.errors[:date].any? %></span>
    </div>
  </div>
  
  <div class="field control-group  <%= 'error' if @occasion.errors[:price_min].any? %>">
    <%= f.label :price_min, 'Price Minimum', :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :price_min %>
      <span class='help-inline'><%= 'Please enter a valid minimum price' if @occasion.errors[:price_min].any? %></span>
    </div>
  </div>

  <div class="field control-group  <%= 'error' if @occasion.errors[:price_max].any? %>">
    <%= f.label :price_max, 'Price Maximum', :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :price_max %>
      <span class='help-inline'><%= 'Please enter a maximum price' if @occasion.errors[:price_max].any? %></span>
    </div>
  </div>
  
  <div class="field control-group <%= 'error' if @occasion.errors[:gift_type].any? %>">
    <%= f.label :gift_type, :class => 'control-label' %>
    <div class='controls'>
      <% @gift_types.each do |gift_type| %>
        <label class='checkbox'>
          <%= check_box_tag "occasion[gift_type_ids][]", gift_type.id, @occasion.gift_types.include?(gift_type) %>
          <%= gift_type.name %>
        </label>
      <% end %>
    </div>
  </div>
  
  <div class ="field control-group <%= 'error' if @occasion.errors[:ocat_id].any? %>">
    <%= label :ocat_id, 'Category', :class => 'control-label' %>
    <div class='controls'>
      <%= f.select(:ocat_id, @ocats.collect {|ocat| [ocat.name, ocat.id]}, options ={:prompt => "Select a category"}) %>
    </div>
  </div>
  
  <div class="actions form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
  

  
<% end %>

