<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Occasions', occasions_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= @occasion.name %>
    </li>
  </ul>
</div>

<div class='well occasiondetails'>
  <h3> <%= @occasion.name %></h3>
  <% if (@occasion.recipient) %>
  <p>
    <b>Recipient:</b>
    <%= link_to @occasion.recipient_name, edit_recipient_path(@occasion.recipient) %>
  </p>
  <% end %>
  
  <% unless @occasion.description == '' %>
    <p>
      <b><%= "Description:" %></b>
      <%= @occasion.description %>
    </p>
  <% end %>
  <p>
    <b>Date:</b>
    <%= @occasion.date.strftime("%B %d, %Y") %>
  </p>

  <p>
    <b>Price Minimum:</b>
    <%= @occasion.price_min %>
  </p>

  <p>
    <b>Price Maximum:</b>
    <%= @occasion.price_max %>
  </p>

  <p>
    <b>Type of gift:</b>
    <% @gift_types.each do |gift_type| %>
      <%= gift_type.name %><br/>
    <% end %>
  </p>

  <p>
    <b>Occasion type:</b>
    <br/>
    <% if @occasion.ocat %>
        <%= @occasion.ocat.name %></br>
    <% else %>
      none selected
    <% end %>
  </p>

  <%= link_to 'Edit', edit_occasion_path(@occasion)  %>

</div>

<div class='occasionrec'>
  <% if @my_recommendation %>
    <h3>We recommend...</h3>
    <div class = "fleft"; style='width:325px;'>
      <%= link_to(image_tag(@my_recommendation.pic.url(:medium), :class => 'thumbnail'), product_path(@my_recommendation.id)) %>
    </div>
    <div class = "show">
      <h3> <%= @my_recommendation.name %> </h3>
      <h4 style= 'color:#da4f49;'> <%= number_to_currency(number_with_precision(@my_recommendation.price, :precision => 2), :unit => "$") %> </h4>
      <p>
        <b>Description: </b><%= @my_recommendation.description %>
      </p>
      </br>
      <div class='clear'></div>
      <div class="actions fleft">
        <%= submit_tag 'Buy', :name => 'Buy', :class => 'btn btn-success' %>
      </div>
  
      <%= form_for(@recommendation, :html => {:style =>'margin:0px;'}) do |f| %>
        <%= f.hidden_field :product_id, :value => @my_recommendation.id %>
        <%= f.hidden_field :occasion_id, :value => @occasion.id %>
        <%= f.hidden_field :own, :value => 1 %>
        <div class="actions fleft" style='margin-left:15px;'>
          <%= f.submit 'Own', :class => 'btn btn-warning' %>
        </div>
      <% end %>
      
      <%= form_for(@recommendation, :html => {:style =>'margin:0px;'}) do |f| %>
        <%= f.hidden_field :product_id, :value => @my_recommendation.id %>
        <%= f.hidden_field :occasion_id, :value => @occasion.id %>
        <%= f.hidden_field :pass, :value => 1 %>
        <div class="actions fleft" style='margin-left:15px;'>
          <%= f.submit 'Pass', :class => 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>Sorry, we have no recommendations for you at this time. Please check back soon.</h3>
  <% end %>
</div>

