<div class='fright' style='padding-top:20px;'>
<%= link_to 'Create an Occasion', new_occassion_path, :class => 'btn btn-primary'  %>
</div>
<div class='clear'></div>
</br>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Price Range</th>
    <th>Gifts to Mine for</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @occassions.each do |occassion| %>
  <tr>
    <td><%= link_to occassion.name, occassion_path(occassion) %></td>
    <td><%= occassion.description %></td>
    <td><%= occassion.date.strftime("%B %d, %Y") %></td>
    <td><%= occassion.price_range %></td>
    <td><%= occassion.type_of_gift %></td>
    <td><%= link_to 'Edit', edit_occassion_path(occassion) %></td>
    <td><%= link_to 'Delete', occassion, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end if @occassions%>
</table>

<br />



