<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      Occasions
    </li>
  </ul>
</div>

<div class='fright'>
  <%= link_to 'New Occasion', new_occassion_path, :class => 'btn btn-primary'  %>
  <%= link_to "View as Calendar", home_dashboard_path, :class => 'btn btn-secondary' %>
</div>

<div class='clear'></div>
</br>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Occasion Name</th>
    <th>Recipient Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Price Range</th>
    <th>Type of Gift</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
    <% unless @occassions.blank? %>
  <% @occassions.each do |occassion| %>
  <tr>
    <td><%= link_to occassion.name, occassion_path(occassion) %></td>
    <td><% if occassion.recipient %>
        <%= link_to occassion.recipient.full_name, recipient_path(occassion.recipient) %>
      <% else %>
        <%= '' %>
      <% end %>
      </td>
    <td><%= occassion.description %></td>
    <td><%= occassion.date.strftime("%B %d, %Y") %></td>
    <td><%= occassion.price_range %></td>
    <td><%= occassion.type_of_gift %></td>
    <td><%= link_to 'Edit', edit_occassion_path(occassion) %></td>
    <td><%= link_to 'Delete', occassion, confirm: 'Are you sure?', :method => :delete %></td>
  </tr>
  
  <% end if @occassions %>
      <% else %>
      <tr>
        <td colspan="6"> You have not entered any Occasion. Please add <%= link_to 'new occasions', new_occassion_path %>. </td>
      </tr>
    <% end %>
</table>

<br />

