<h1>

  <%= @occassion.name %>
</h1>

<!-- <p>
  <b>Description:</b>
  <%= @occassion.description %>
</p>

<p>
  <b>Date:</b>
  <%= @occassion.date.strftime("%B %d, %Y") %>
</p>

<p>
  <b>Price range:</b>
  <%= @occassion.price_range %>
</p>

<p>
  <b>Type of gift:</b>
  <%= @occassion.type_of_gift %>
</p>
<p>
  <b>Occassion type:</b></br>
  <% @occassion.ocats.each do |ocat| %>
  	<%= ocat.category %></br>
  <% end %>
</p> -->
<p">
  <h3><b>Recommendations:</b></h3></br>
  <% @occassion.product_recommendations.each do |product| %>
  	<div style="float:left; margin-right:20px;">
  	<%= link_to product.name, product_path(product.id) %></br></br>
  	<%= link_to image_tag(product.pic.url(:thumb)), product_path(product.id) %></br>
  	</div>
  <% end %>
</p>

<div class="clear">
</br>
<%= link_to 'Back', occassions_path %>
