<div style='margin-top:5px;'>
  <ul class='breadcrumb'>
    <li>
      <%= link_to 'Home', root_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= link_to 'Occasion', occassions_path %>
      <span class='divider'>/</span>
    </li>
    <li>
      <%= @occassion.name %>
    </li>
  </ul>
</div>

<div class='well occassiondetails'>
  <h3> <%= @occassion.name %></h3>
  
<% unless @occassion.description == '' %>
  <p>
    <b><%= "Description:" %></b>
    <%= @occassion.description %>
  </p>
<% end %>
  <p>
    <b>Date:</b>
    <%= @occassion.date.strftime("%B %d, %Y") %>
  </p>

  <p>
    <b>Price range:</b>
    <%= @occassion.price_range %>
  </p>

  <p>
    <b>Type of gift:</b>
    <%= @occassion.type_of_gift %>
  </p>

  <p>
    <b>Occasion type:</b>
    <br/>
    <% if @occassion.ocats.count >0 %>
      <% @occassion.ocats.each do |ocat| %>
        <%= ocat.category %></br>
      <% end %>
    <% else %>
      none selected
    <% end %>
  </p>

  <%= link_to 'Edit', edit_occassion_path(@occassion)  %>

</div>
<div class='occassionrec'>

  <% unless @recommendation.nil? %>
  <div class = "fleft"; style='width:325px;'>
    <%= link_to(image_tag(@recommendation.pic.url(:medium), :class => 'thumbnail'), product_path(@recommendation.id)) %>
  </div>
  <div class = "show">
    <h3> <%= @recommendation.name %> </h3>
    <h4 style= 'color:#da4f49;'> <%= number_to_currency(number_with_precision(@recommendation.price, :precision => 2), :unit => "$") %> </h4>
    <p>
      <b>Description: </b><%= @recommendation.description %>
    </p>
    </br>
    <div>
      <%= link_to 'Giftarator', '#', :class => 'btn btn-success'  %>
    </div>
  </div>
  <% end %>
</div>
<div class="clear"></div>





