<div class='fright' style='margin:20px 0 20px 0;'>
  <%= link_to 'New Product', new_product_path, :class => 'btn btn-primary'  %>
</div>
</br></br>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th class="span2">Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Gender</th>
    <th>Age range</th>
    <th>Edit Product</th>
    <th>Delete Product</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to "#{product.name}", product_path(product) %></td>
    <td><%= cents_to_dollars(product.price, :unit => "$")%></td>
    <td><%= product.description %></td>
    <td><%= product.gender %></td>
    <td><%= product.age_range %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-primary'  %></td>
  </tr>
<% end if @products %>
</table>

<%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>