<!DOCTYPE html>
<html>
<head>
  <title>giftminder</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container' style = 'margin-top:10px;'>
  	
  <!--div style="color:#dd4814;font-size: 31.5px;line-height: 60px;float: left">giftminer</div-->

	
	<% flash.each do |name, msg| %>
	  <div>
		<em>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		</em>
	  </div>
	<% end %>

  
  <div>
    <div class="navbar" style='height:40px; margin-bottom:0px;'>
	  <div class="navbar-inner">
	    <a href="/" title="giftminer" class="brand">&hearts; giftminer</a>
	    <ul class="nav">
  		  		    		
  		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      Products<b class="caret"></b>
		    </a>
    	    <ul class="dropdown-menu">
			  <li><%= link_to 'Dashboard', '#' %></li>
    	    </ul>
  		  </li>
  		  
  		  <li class="dropdown">
    	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      		  Occasions<b class="caret"></b>
    	    </a>
    	    <ul class="dropdown-menu">
			  <li><%= link_to 'All Occasions', occassions_path %></li>
			  <li><%= link_to 'New Occasion', new_occassion_path %></li>    
		    </ul>
  		  </li>

		  <li><%= link_to 'About Us', about_us_path %></li>
		  <li><%= link_to 'Contact Us', contact_us_path %></li>	  

	    </ul>

  	    <div class='loginbar'>
	      <% if user_signed_in? %>
	      <div style='padding-top:10px;'>
		    <%= link_to current_user.email, edit_user_registration_path %> |
		    <%= link_to "My Wish List", '#' %> |
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> | 
		    <%= link_to "Need Help", '#' %>
		  </div>
		  <% else %>
		      <div class='buttonlink'><%= link_to "Sign in", new_user_session_path, :class => 'btn btn-success' %></div>
		  <% end %>
	    </div>
	  </div>

    </div>
    	
	<div >
	<%= yield %>
	</div>
  </div>
	
</div><!-- end container -->

  <div class='footer'>
    <p>Copyright ©2013</p>
  </div>

</body>

</html>
