<!DOCTYPE html>
<html>
  <head>
    <title>giftminer</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container' style='margin-top:5px;min-height:550px'>

      <!--div style="color:#dd4814;font-size: 31.5px;line-height: 60px;float: left">giftminer</div-->

      <div class='loginbar'>
        <% if user_signed_in? %>
        <div>
          <%= link_to current_user.email, edit_user_registration_path %> 
          <%= link_to((image_tag avatar_url(current_user)),edit_user_registration_path) %> |
          <%= link_to "My Wish List", '#' %> |
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
        <% else %>
        <div class='buttonlink'>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
        <% end %>
      </div>
      <div class='clear'></div>

      <div>
        <div class="navbar" style='height:40px; margin-bottom:0px;'>
          <div class="navbar-inner">
            <a href="/" title="giftminer" class="brand">&hearts; giftminer</a>
            <ul class="nav">

              <!--   		  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Products<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to 'Dashboard', '#' %></li>
              </ul>
              </li> -->
              <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Occasions<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to 'All Occasions', occassions_path %>
                  </li>
                  <li>
                    <%= link_to 'New Occasion', new_occassion_path %>
                  </li>
                </ul>
              </li>
              <% end %>
              <li>
                <%= link_to 'About Us', about_us_path %>
              </li>
              <li>
                <%= link_to 'Contact Us', contact_us_path %>
              </li>

            </ul>

          </div>

        </div>

        <div class='clear'></div>

        
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>" style="margin-top:20px">
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
      <% end %>
      
        <div >
          <%= yield %>
        </div>
      </div>

    </div><!-- end container -->

    <div class='footer'>
      <div class="container">
        <p style="float:right">
          Copyright &copy; 2013 giftminer
        </p>
        <div>
          <a href='#'><span class="label label-info">Home</span></a>
          <a href='#'><span class="label label-success">Facebook</span></a>
          <a href='#'><span class="label label-warning">Twitter</span></a>
          <a href='#'><span class="label label-important">Reddit</span></a>
        </div>
      </div>
    </div>
  </body>
</html>
